* {
    margin: 0;
    padding: 0;
}

/*MENU MOBILE*/

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #54574F;
    text-align: center;
    z-index: 99;
}
#menuburger {
    font-size: 12vw;
    text-align: right;
    margin-right: 1vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#menu li {
    display: block;
    margin-top: 2vw;
    margin-bottom: 5vw;
    margin-right: 2vw;
    padding: 2vw;
    width: 80%;
    margin-left: 8vw;
}
#menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.hidden {
    display: none;
}
.nav_hide {
    height: 8vh;
}
#logo {
    position: absolute;
    width: 25vw;
    left: 2.5vw;
    top: 3vw;
}

/*MENU MOBILE SLUT*/

#first_section {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
#first_section img {
    width: 70px;
    height: 100px;
    object-fit: cover;
    margin-left: 3vw;
    margin-right: 3vw;
    box-shadow: 9px 10px 25px 8px rgba(0, 0, 0, 0.7);
}
#first_section h2 {
    font-size: 0.8rem;
}
body {
    background-color: #54574F;
    background-image: url(baggrund.jpg);
}
main {
    margin-top: 25vw;
    color: white;
}
#second_section img {
    width: 170px;
    height: 275px;
    object-fit: cover;
}
#second_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 4vw;
    margin: 10vw 2vw 0 2vw;
}
h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5vw;
}
p {
    color: white
}
#second_section h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-top: 2vw;
    text-align: left;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 0.8rem;
    margin-bottom: 1.5vw;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 3vw;
}
#second_section img {
    box-shadow: 9px 10px 25px 8px rgba(0, 0, 0, 0.7);
}
hr {
    margin: 0 3vw 0 3vw;
    color: gray;
    border-style: solid;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*FOOTER MOBILE*/

footer {
    width: 100vw;
    height: 26vw;
    background-color: #F4EEED;
}
footer h5 {
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    padding: 2vw;
    padding-top: 5vw;
    text-transform: uppercase;
    color: black;
    margin-left: 5vw;
    font-weight: 100;
}
footer hr {
    color: gray;
    width: 50vw;
    margin-left: 5vw;
    border-style: solid;
}
.ikoner {
    display: flex;
    margin-left: 5vw;
}

/*FOOTER MOBILE SLUT*/

@media only screen and (min-width: 500px) {
    /*    MENU DESKTOP   */
    nav {
        position: absolute;
        padding-top: 2vw;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
    }
    .hidden {
        display: block;
    }
    #menu {
        text-align: right;
        margin-right: 5vw;
    }
    #menu li {
        display: inline;
        padding: 0.1vw;
        margin: 0;
        margin-right: 2vw;
    }
    #logo {
        width: 13vw;
        left: 7vw;
        top: 1vw;
    }
    #menuburger {
        display: none;
    }
    #menu a {
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 1vw;
        text-decoration: none;
        text-transform: uppercase;
    }
    #menu a:hover {
        color: white;
    }
    .hide {
        display: none;
    }
    .nav_hide {
        height: 3vh;
    }
    /*    MENU DESKTOP SLUT */
    main {
        margin: 10vw 15vw 0vw 15vw;
    }
    #first_section {
        display: flex;
        margin-left: 10vw;
        margin-top: 7vw;
        margin-bottom: 1vw;
    }
    #first_section img {
        width: 90px;
        height: 130px;
        object-fit: cover;
        margin: 0;
    }
    #first_section a {
        margin-left: 1vw;
        margin-right: 1vw;
        cursor: pointer;
        text-align: center;
    }
    #first_section h2 {
        font-family: 'Frank Ruhl Libre', serif;
        font-size: 1.1rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0;
        margin-top: 1vw;
    }
    #second_section img {
        width: 200px;
        height: 300px;
        object-fit: cover;
        cursor: pointer;
    }
    #second_section {
        grid-gap: 5vw;
        margin-top: 7vw;
    }
    .titel {
        margin-bottom: 0;
    }
    .pris {
        margin-bottom: 0;
    }
    hr {
        width: 100%;
        margin: 0;
    }
    /*FOOTER DESKTOP*/
    footer {
        margin-top: 5vw;
        height: 12vw;
    }
    footer h5 {
        font-size: 1rem;
        padding-top: 4vw;
        padding-bottom: 1vw;
        margin-left: 10vw;
    }
    .ikoner {
        padding-left: 7vw;
    }
    footer img {
        padding: 1vw;
        width: 2.5vw;
    }
    footer hr {
        width: 50vw;
        margin-left: 10vw;
    }
    /*FOOTER DESKTOP SLUT*/
}
