* {
    margin: 0;
    padding: 0;
}

/*MENU MOBILE*/

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #54574F;
    text-align: center;
    z-index: 99;
}
#menuburger {
    font-size: 12vw;
    text-align: right;
    margin-right: 1vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#menu li {
    display: block;
    margin-top: 2vw;
    margin-bottom: 5vw;
    margin-right: 2vw;
    padding: 2vw;
    width: 80%;
    margin-left: 8vw;
}
#menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.hidden {
    display: none;
}
.nav_hide {
    height: 8vh;
}
#logo {
    position: absolute;
    width: 25vw;
    left: 2.5vw;
    top: 3vw;
}

/*MENU MOBILE SLUT*/

body {
    margin-top: 25vw;
    background-color: #54574F;
    color: white;
}
img {
    width: 200px;
    height: 280px;
    object-fit: cover;
}
#second_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1em;
    margin: 2em;
}
article {
    border: 2px solid #000;
}

/*FOOTER MOBILE*/

footer {
    width: 100vw;
    height: 26vw;
    background-color: #F4EEED;
}
footer h5 {
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    padding: 2vw;
    text-transform: uppercase;
    color: black;
    margin-left: 5vw;
    font-weight: 100;
}
hr {
    color: gray;
    width: 50vw;
    margin-left: 5vw;
    border-style: solid;
}
.ikoner {
    display: flex;
    margin-left: 5vw;
}
footer img {
    padding: 3vw;
    width: 8vw;
}

/*FOOTER MOBILE SLUT*/

@media only screen and (min-width: 600px) {
    /*    MENU DESKTOP   */
    nav {
        position: absolute;
        padding-top: 2vw;
        background-color: rgba(0, 0, 0, 0);
    }
    .hidden {
        display: block;
    }
    #menu {
        text-align: right;
        margin-right: 5vw;
    }
    #menu li {
        display: inline;
        padding: 0.1vw;
        margin: 0;
        margin-right: 2vw;
    }
    #logo {
        width: 13vw;
        left: 7vw;
        top: 1vw;
    }
    #menuburger {
        display: none;
    }
    #menu a {
        padding-left: 2vw;
        padding-right: 2vw;
        font-size: 1vw;
        text-decoration: none;
        text-transform: uppercase;
    }
    #menu a:hover {
        color: white;
    }
    .hide {
        display: none;
    }
    .nav_hide {
        height: 3vh;
    }
    /*    MENU DESKTOP SLUT */
    body {
        margin-top: 10vw;
    }
    /*FOOTER DESKTOP*/
    footer {
        margin-top: 5vw;
        height: 12vw;
    }
    footer h5 {
        font-size: 1rem;
        padding-top: 4vw;
        padding-bottom: 1vw;
        margin-left: 10vw;
    }
    .ikoner {
        padding-left: 7vw;
    }
    footer img {
        padding: 1vw;
        width: 2.5vw;
    }
    hr {
        width: 50vw;
        margin-left: 10vw;
    }
    /*FOOTER DESKTOP SLUT*/
}
